h1{
    font-family: 'Combo', cursive;
    height: 50px;
    padding-top: 20px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    height: 75px;
}

body{
    background-image: url(fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: rgb(255, 50, 193);
    text-align: center;
    padding: 5px;
    font-family: cursive;
}

a{
    text-decoration: none;
    color: white;
    margin: 20px 10px;
}

section{
    text-align: center;
    margin-left: 30%;
}

#volverPrincipal{
    color: black;
    margin-top: 50px;
}

li{
    list-style: none;
    background-color: white;
    border-radius: 25px;
    width: 75%;
    text-align: left;
}

.principal{
    background-color: rgb(255, 194, 225);
    text-align: center;
    width: 50%;
    border-radius: 50px;
    border: 5px solid black;
    margin: 30px;
}

p{
    display: inline-block;
    margin-right: 5px;
}

#boton{
    margin: 20px 20px;
}


#central{
    margin-top: 50px;
    border: 2px solid black;
    background-color: rgb(255, 205, 205);
    border-radius: 25px;
    width: 60%;
}

#casillaresultado{
    background-color: white;
    margin: 20px 20px;
    border-radius: 50px;
}

#minialien{

    transition:5s;
    width: 30px;
}

@media  (max-width: 500px){

    body{background-color: red;
    
    }
    #minialien{
        opacity: 0;
    }   
}

